<label for="message" class="h4" style="margin-top: 20px;">Message:</label>
<ul id="messages" style="height: 600px; border: solid 1px #cecece; list-style: none;"></ul>
<form>
    <div class="form-group">
        <textarea id="m" class="form-control" rows="5" placeholder="Enter your message"></textarea>
    </div>
     <input type="file" accept=".jpg,.jpeg,.png"/> 
    <button type="submit" class="btn btn-success btn-lg pull-right my-2">Submit</button>
</form>