<div class="card-body">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Units In Stock</th>
            </tr>
        </thead>

        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{ProductID}}</th>
                <td>{{ProductName}}</td>
                <td>{{UnitPrice}}</td>
                <td>{{UnitsInStock}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>